<div class="app">
  <mat-toolbar
    color="primary"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <span>Yoga app</span>
    <div *ngIf="$isLogged() | async; else notLogged">
      <span class="link" routerLink="sessions">Sessions</span>
      <span class="link" id="accountButton" routerLink="me">Account</span>
      <span (click)="logout()" class="link" id="logout">Logout</span>
    </div>
    <ng-template #notLogged>
      <div>
        <span class="link" id="login" routerLink="login">Login</span>
        <span class="link" routerLink="register">Register</span>
      </div>
    </ng-template>
  </mat-toolbar>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
